.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0d0d0d;
  overflow: hidden;
  -webkit-app-region: drag;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
  -webkit-app-region: no-drag;
  position: relative;
}

